#include <windows.h>
#include "resource.h"

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_APP_ICON            ICON                    "clipwheel.ico"

// Version Information
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,2,0,0
 PRODUCTVERSION 2,2,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0" // Simplified Chinese
        BEGIN
            VALUE "CompanyName", "ClipWheel"
            VALUE "FileDescription", "ClipWheel - 极速粘贴，指尖流转"
            VALUE "FileVersion", "2.2.0.0"
            VALUE "InternalName", "clipwheel.exe"
            VALUE "LegalCopyright", "Copyright (C) 2026 ClipWheel. All rights reserved."
            VALUE "OriginalFilename", "clipwheel.exe"
            VALUE "ProductName", "ClipWheel"
            VALUE "ProductVersion", "2.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
